:root {
    --primary-color:#023040;
    --secondary-color: #160e04;
    --accent1-color:aqua;
    --accent2-color:#f8c443e6;
    --heading-font: "Times New Roman", "Georgia", sans-serif;
    --body-font:Arial, Helvetica, sans-serif;
}

header {
    background-color: var(--primary-color);
    color: var(--accent2-color);
    height: 200px;
    font-size: large;
    font-family: var(--heading-font
    );
    padding: 5px;
}

header img {
    float: right;
    padding: 10px;
    margin: auto;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--body-font);
    font-style: italic;
    color: var(--secondary-color);    
}

header, main, footer {
    width: 1250px;
    margin:5px;
    
} 

nav, p, section, article {
    margin: 16px;
    padding: 0;
    font-family: 'Courier New', Courier, monospace;
}

.socialmedia a {
    text-decoration: none;
}

.hero {
    position: relative;
    margin: 10px auto;
}

.hero img {
    display: block;
    width: 100%;
    height:auto;
}

h1 {
    position:absolute;
    top: 20px;
    width: 100%;
    padding: 16px;
    text-align: center;
    opacity: 0.7;
    background-color: #051c03;
    text-shadow: 3px 3px 5px #777;
    color: #fff; /* white  text -  make sue there is enough contrast with the background color. */
}


.hero article img { 
    float: right;
    width: 20%;
    height: auto;
    border: 1px solid black;
    margin: 20px;
    box-shadow:0 0 30px #111;
    object-fit: cover;
}

.hero article {
    position: absolute;
    width: 100%;
    height: 220px;
    background-color: var(--primary-color);
    top: 515px;
    padding: 20px;
    margin: 0rcap;
    text-align: center;
    opacity: 0.6;
    color: #ffffff
}

h2 {
    font-family: var(--body-font);
    color: var(--accent1-color);
    text-align: center;
    margin: 20px;
    padding: 15px;
    background-color: var(--primary-color) ;
}