:root {
    --primary-color:#023040;
    --secondary-color:#f4a261;
    --accent1-color:#103d10;
    --accent2-color:#f8c443e6;
    --heading-font: "Times New Roman", "Georgia", sans-serif;
    --body-font:Arial, Helvetica, sans-serif;
}

header {
    background-color: var(--primary-color);
    color: var(--accent2-color);
    height: 200px;
    font-size: large;
    padding: 5px;
}

header img {
    float: right;
    padding: 10px;
    margin: auto;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    
    
}

header, main, footer {
    width: 1250px;
    margin:5px;
    
} 

nav, p, section, article {
    margin: 16px;
    padding: auto;
    font-family: 'Courier New', Courier, monospace;
}

.hero {
    position: relative;
    margin: 10px auto;
}

.hero img {
    display: block;
    width: 100%;
    height:auto;
}

h1 {
    position:absolute;
    top: 20px;
    width: 100%;
    padding: 16px;
    text-align: center;
    opacity: 0.7;
    background-color: #051c03;
    text-shadow: 3px 3px 5px #777;
    color: #fff; /* white  text -  make sue there is enough contrast with the background color. */
}


.hero article img { 
    float: right;
    width: 20%;
    height: auto;
    border: 1px solid black;
    margin: 20px;
    box-shadow:0 0 30px #111;
    object-fit: cover;
}

article {
    position: absolute-bottom;
    width: 100%;
    height: 300px;
    background-color: var(--primary-color);
    top: 20px;
    padding: 20px;
    margin: 0rcap;
    text-align: center;
    opacity: 0.7;
    color: #ffffff
}

p {
    font-family: cursive;
    font-style: italic;
    color: midnightblue;
}

h2 {
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: aqua;
    text-align: center;
    margin: 20px;
    padding: auto;
    background-color: var(--primary-color) ;
    

}