body  {
    font-family: Arial, Helvetica, sans-serif;
}

header, footer {
    background-color: #333333;
    color: white;
    padding:  10px;
    text-align: center;
}
header {
    font-size: 2.9rem;
}

footer {
    font-size: 1.5rem;
}

section {
background-color: lightgray;
padding: 10px;
margin: 10px auto;
}

main {
    margin: 0 auto;
    max-width: 600px;
    }
h1 {
    text-align: center;
    font-size: 2.95rem;
}    

h2 {
    border-bottom: 1px solid black;
}

picture img {
    box-shadow: 0 0 30px #333333;
    margin: 0 auto;
    max-width: 100% ;
    height: auto;
}

p {
    margin: 10px;
}